.container {
  background-color: #1a1a1a;
}
.container p {
  width: 205px;
  text-align: left;
  margin-left: 80px;
  padding-top: 8px;
  border-top: 4px solid #707070;
}
.galleryContainer {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 115px;
  background-color: #1a1a1a;
  margin: 0 auto;
}

.card {
  box-sizing: border-box;
  width: 330px;
  height: 470px;
  display: flex;
  align-items: stretch;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 16px;
  color: white;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .galleryContainer {
    gap: 30px;
    padding: 80px 72px;
  }
}
@media screen and (max-width: 425px) {
  .galleryContainer {
    padding: 80px 30px;
  }
  .card {
    width: 315px;
    height: 402px;
  }
  .container p {
    width: 205px;
    margin: 0 auto;
  }
}
